@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b1a13;
  --foreground: #f2f5f3;
}

html, body, #__next {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

